{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false //Remember don’t enclose false in quotes
      }
    ],
    "@babel/preset-react"
  ]
  // "plugins": ["react-hot-loader/babel"]
}
